<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
    <div class="p-6 bg-white border-b border-gray-200">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">Boletos</h2>

      
        <div class="mb-2 sm:mb-0 pb-5">
          <%= link_to 'New Boleto', new_boleto_path, class: 'bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded' %>
        </div>

        <div class="flex flex-col sm:flex-row justify-between mb-4">
        <% if @boletos.any? %>
          <table class="min-w-full divide-y divide-gray-200 shadow-sm overflow-x-auto">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Bank Bilet Account ID</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Our Number</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Processed Our Number</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">CNPJ/CPF</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Expire Date</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Paid Date</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th> <!-- Add this column -->
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @boletos.each do |boleto| %>
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap"><%= boleto['bank_billet_account_id'] %></td>
                  <td class="px-6 py-4 whitespace-nowrap"><%= boleto['status'] %></td>
                  <td class="px-6 py-4 whitespace-nowrap"><%= boleto['our_number'] %></td>
                  <td class="px-6 py-4 whitespace-nowrap"><%= boleto['processed_our_number_raw'] %></td>
                  <td class="px-6 py-4 whitespace-nowrap"><%= boleto['customer_cnpj_cpf'] %></td>
                  <td class="px-6 py-4 whitespace-nowrap"><%= boleto['expire_at'] %></td>
                  <td class="px-6 py-4 whitespace-nowrap"><%= boleto['paid_at'] || 'N/A' %></td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <%= link_to 'Edit', edit_boleto_path(boleto['id']), class: 'bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded', data: { turbo_frame: 'boleto-edit', remote: true } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p class="text-gray-500">No boletos found.</p>
        <% end %>
      </div>

      <!-- JSON representation of boletos -->
      <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg mt-6">
        <div class="p-6 bg-white border-b border-gray-200">
          <h2 class="text-2xl font-semibold text-gray-800 mb-4">JSON Representation</h2>

          <% @boletos.each do |boleto| %>
            <pre><%= JSON.pretty_generate(boleto) %></pre>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
