<%= form_for :boleto, url: boletos_path, method: :post, id: "new_boleto_form" do |f| %>
  <div class="max-w-md mx-auto bg-white shadow-md overflow-hidden sm:rounded-lg lg:max-w-4xl mb-8">
    <div class="px-4 py-5 sm:px-6">
      <h2 class="text-lg font-semibold text-gray-800">New Boleto</h2>
    </div>
    <div class="border-t border-gray-200">
      <div class="p-6 grid grid-cols-1 gap-6 sm:grid-cols-2">
        <!-- Amount -->
        <div>
          <%= f.label :amount, "Amount", class: "block font-medium text-sm text-gray-700" %>
          <%= f.number_field :amount, step: '0.01', class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", required: true %>
        </div>

        <!-- Expire At -->
        <div>
          <%= f.label :expire_at, "Expire At", class: "block font-medium text-sm text-gray-700" %>
          <%= f.date_field :expire_at, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", required: true %>
        </div>

        <!-- Customer Person Name -->
        <div class="sm:col-span-2">
          <%= f.label :customer_person_name, "Customer Person Name", class: "block font-medium text-sm text-gray-700" %>
          <%= f.text_field :customer_person_name, maxlength: 120, placeholder: "Full Name", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", required: true %>
        </div>

        <!-- Customer CNPJ/CPF -->
        <div class="sm:col-span-2">
          <%= f.label :customer_cnpj_cpf, "Customer CNPJ/CPF", class: "block font-medium text-sm text-gray-700" %>
          <%= f.text_field :customer_cnpj_cpf, minlength: 11, maxlength: 20, placeholder: "12345678901234", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", required: true %>
        </div>

        <!-- Customer State -->
        <div>
          <%= f.label :customer_state, "Customer State", class: "block font-medium text-sm text-gray-700" %>
          <%= f.select :customer_state, options_for_select(['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO']), {}, { class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" } %>
        </div>

        <!-- Customer City Name -->
        <div>
          <%= f.label :customer_city_name, "Customer City Name", class: "block font-medium text-sm text-gray-700" %>
          <%= f.text_field :customer_city_name, id: "boleto_customer_city_name", maxlength: 60, placeholder: "City Name", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
        </div>

        <!-- Customer Zipcode -->
        <div class="sm:col-span-2">
          <%= f.label :customer_zipcode, "Customer Zipcode", class: "block font-medium text-sm text-gray-700" %>
          <%= f.text_field :customer_zipcode, minlength: 8, maxlength: 10, placeholder: '99999999', title: "Zipcode should be 8 digits without any hyphens or spaces", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", required: true %>

        </div>

        <!-- Customer Address -->
        <div class="sm:col-span-2">
          <%= f.label :customer_address, "Customer Address", class: "block font-medium text-sm text-gray-700" %>
          <%= f.text_field :customer_address, maxlength: 255, placeholder: "1234 Main St", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", required: true %>
        </div>

        <!-- Customer Neighborhood -->
        <div class="sm:col-span-2">
          <%= f.label :customer_neighborhood, "Customer Neighborhood", class: "block font-medium text-sm text-gray-700" %>
          <%= f.text_field :customer_neighborhood, maxlength: 80, placeholder: "Neighborhood", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", required: true %>
        </div>

        <div class="px-4 py-3 sm:px-6 text-right">
          <%= f.submit "Create Boleto", class: "inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white disabled:bg-gray-400 disabled:cursor-not-allowed bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500", id: "submit_button" %>
          <%= link_to 'Go Back', root_path, class: 'inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-gray-700 bg-gray-200 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 ml-4' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  let autocomplete;

  function initAutocomplete() {
    const customerCityNameField = document.querySelector("#boleto_customer_city_name");

    // Initialize the Google Places Autocomplete with restrictions to Latin American countries
    autocomplete = new google.maps.places.Autocomplete(customerCityNameField, {
      componentRestrictions: { country: ["ar", "bo", "br", "cl", "co", "cr", "cu", "do", "ec", "sv", "gt", "gy", "hn", "ht", "jm", "mx", "ni", "pa", "py", "pe", "pr", "sr", "tt", "uy", "ve", "bz", "bs", "bb"] },
      fields: ["address_components"],
      types: ["(cities)"],
    });

    autocomplete.addListener("place_changed", () => {
      const place = autocomplete.getPlace();
      let cityName = "";
      for (const component of place.address_components) {
        if (component.types.includes("locality")) {
          cityName = component.long_name;
          break;
        }
      }
      customerCityNameField.value = cityName;
    });
  }

  window.initAutocomplete = initAutocomplete;
</script>

